<ion-view view-title="Match" hide-back-button="true">
    <ion-content ng-controller="AppController">
        
        <div class="row" ui-sref="app.about">
            About Rugby Score Tracker
        </div>
        <div class="row" ui-sref="app.scoring">
            Scoring Explained
        </div>
        <div class="row" ui-sref="app.using">
            Using The App
        </div>
        <div class="row" ui-sref="app.about">
            Purchase Pro Version
        </div>
        
    </ion-content>
</ion-view>