<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear new-match-icon">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div ng-include="'templates/tabs.html'"></div>
  </ion-side-menu-content>


  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Rugby Score App</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/savescore">
          Save Score
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search Teams
        </ion-item>
        <ion-item menu-close href="#/app/email">
          Email Score
        </ion-item>
        <ion-item menu-close href="#/app/charity">
          Charity
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>