<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab title="MY TEAM" icon-on="my-team-icon-white-on" icon-off="my-team-icon-white">
  </ion-tab>

  <ion-tab title="TEAMS" icon-on="teams-icon-white" icon-off="teams-icon-white" href="#/app/teams">
    <ion-nav-view name="teams"></ion-nav-view>
  </ion-tab>

  <ion-tab title="NEW MATCH" icon-on="new-match-icon-white" icon-off="new-match-icon-white" href="#/app/newmatch">
    <ion-nav-view name="newmatch"></ion-nav-view>
  </ion-tab>

  <ion-tab title="SAVE SCORE" icon-on="save-icon-white" icon-off="save-icon-white">
  </ion-tab>

  <ion-tab title="RESULT" icon-on="results-icon-white" icon-off="results-icon-white">
  </ion-tab>
</ion-tabs>