/** Footer **/
.has-footer.has-tabs {
    bottom: 93px;
}

.sub-footer{
    bottom:50px !important;
}

.tabs{
    height: 65px;
}

.tabs-striped .tabs{
    padding-top: 0px;
}

.tabs-positive > .tabs, .tabs.tabs-positive{
    border-color: #d6a7c2;
    background-color: #92185d;
    background-image: linear-gradient(0deg, #92145c, #92145c 50%, transparent 50%);
}

.tab-item .icon{
    height: 45px;
    background-size: 40px;
    margin-top: 5px;
}

.my-team-icon-white{
    background: url(/img/my-team-white.png) no-repeat center;
}

.my-team-icon-white-on{
    background: url(/img/my-team-white.png) no-repeat center;
}

.new-match-icon-white{
    background: url(/img/new-match-white.png) no-repeat center;
}

.teams-icon-white{
    background: url(/img/team-white.png) no-repeat center;
}

.save-icon-white{
    background: url(/img/save-white.png) no-repeat center;
}

.results-icon-white{
    background: url(/img/result-white.png) no-repeat center;
}


/** Headers **/
.bar.bar-stable{
    border-color: #FBAE17;
    border-bottom-width: 3px;
}

.bar.bar-stable{
    border-bottom-width: 1px;
    background-color: #ffffff;
}

.bar-stable .button.button-icon{
    color: #92145c;
}

.bar-stable .button.button-icon.new-match-icon{
    width: 40px;
    background: url(/img/new-match.png) no-repeat center;
    background-size: 25px;
}

.bar-stable .button.button-icon.my-team-icon{
    width: 40px;
    background: url(/img/my-team.png) no-repeat center;
    background-size: 25px;
}

.bar-stable .button.button-icon.team-icon{
    width: 40px;
    background: url(/img/team.png) no-repeat center;
    background-size: 25px;
}

/** Buttons **/
button.button-footer{
    position: absolute;
    bottom: 5px;
    font-size: 27px;
    color: #92185d !important;
    width: 100%;
    text-align: left;
    border-color: #FBAE17 !important;
    border-top-width: 3px !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}

/** Main View **/
.main-view [nav-bar-transition="ios"] [nav-bar="cached"],
.main-view [nav-bar-transition="ios"] [nav-bar="leaving"]{
    display: none;
}

.main-view .bar.bar-stable{
    border: none;
}

/** Match **/
.match{
    color: #fff;
    background: url(/img/pitch.jpg) repeat center;
}

.match h2{
    color: #fff;
    background: url(/img/pitch-line.jpg) repeat center;
    line-height: 22px;
    font-size: 35px;
    margin: 5px 0;
}

.match .row{
    padding: 2px;
}

.match .col{
    padding: 4px;
}

.match-label {
    font-size: 11px;
}

.match-score, 
.match-title {
    border: 2px solid #FFF;
    background-color: rgba(0, 0, 0, 0.68);
    height: 45px;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    border-radius: 5px;
}

.match-title{
    text-align: center;
    border-radius: 13px;
    font-size: 23px;
    width: 90%;
}

.match-score div{
    padding-top: 4px;
}

.button.button-points{
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.44);
    font-size: 20px;
    padding: 2px 5px;
}

.button.button-circle{
    border-radius: 50px;
    border-width: 2px;
    border-color: #fff;
    min-width: 40px;
    min-height: 40px;
    line-height: 35px;
    margin-top: 5px;
}

.match .button.button-balanced{
    background-color: rgba(0, 162, 46, 0.50);
}

.match .button.button-balanced:hover{
    background-color: rgba(0, 232, 66, 0.9);
}

.error {
    color: #f53d3d;
}

/** Teams **/
.teams .item .row,
.teams .item .col{
    margin: 0;
    padding: 0;
}

.teams .results .icon:before{
    font-size: 16px;
}

.teams .edit .icon:before{
    font-size: 12px;
}

.teams .item .edit,
.teams .item .results{
    color: #0071BC;
    float: right;
    cursor: pointer;
}

.team-label {
    color: #1B1464;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.align-right {
    text-align: right
}

.team-list-result {
    float: right;
    font-size: 14px;
}

.team-location {
    margin-top: 25px;
}


/** New Match **/
.new-match .item-checkbox-right{
    text-align: right;
    padding-right: 55px !important;
}

ion-content .scroll{
    height: 100%;
}

/** Score **/
.score .content .row{
     padding: 5px 30px;
}
   
/** Generics **/
.content{
    height: 97%;
}

.divider{
    padding-bottom: 10px;
}

.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
  float: right;
}

.item-checkbox.item-checkbox-right {
  /*the default item padding*/
  padding: 15px;
}

.label-score {
    font-size: 24px;
    font-weight: bold
}

.item-stacked-label, 
.item-checkbox{
    border: none;
    margin-right: 15px;
}

input[type="text"]{
    border-color: #ddd;
    background-color: #fff;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

@media screen and (max-width:767px) {
    .match ion-content{
         height: 82% !important;
     }
}


@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .match ion-content{
         height: 73% !important;
     }
}