/** Footer **/
.has-footer.has-tabs {
    bottom: 93px;
}

.sub-footer{
    bottom:50px !important;
}

.tabs{
    height: 75px;
}

.tabs-positive > .tabs, .tabs.tabs-positive{
    border-color: #d6a7c2;
    background-color: #92185d;
    background-image: linear-gradient(0deg, #92145c, #92145c 50%, transparent 50%);
}

.tab-item .icon{
    height: 45px;
    background-size: 40px;
    margin-top: 5px;
}

.my-team-icon-white{
    background: url(/img/my-team-white.png) no-repeat center;
}

.my-team-icon-white-on{
    background: url(/img/my-team-white.png) no-repeat center;
}

.new-match-icon-white{
    background: url(/img/new-match-white.png) no-repeat center;
}

.teams-icon-white{
    background: url(/img/team-white.png) no-repeat center;
}

.save-icon-white{
    background: url(/img/save-white.png) no-repeat center;
}

.results-icon-white{
    background: url(/img/result-white.png) no-repeat center;
}


/** Headers **/
.bar.bar-stable{
    border-color: #FBAE17;
    border-bottom-width: 3px;
}

.bar-stable .button.button-icon{
    color: #92145c;
}

.bar-stable .button.button-icon.new-match-icon{
    width: 40px;
    background: url(/img/new-match.png) no-repeat center;
    background-size: 25px;
}

.bar-stable .button.button-icon.my-team-icon{
    width: 40px;
    background: url(/img/my-team.png) no-repeat center;
    background-size: 25px;
}

.bar-stable .button.button-icon.team-icon{
    width: 40px;
    background: url(/img/team.png) no-repeat center;
    background-size: 25px;
}

/** Main View **/
.main-view [nav-bar-transition="ios"] [nav-bar="cached"],
.main-view [nav-bar-transition="ios"] [nav-bar="leaving"]{
    display: none;
}

.main-view .bar.bar-stable{
    border: none;
}

/** Match **/
.match{
    color: #fff;
    background: url(/img/bg.png) repeat center;
}

.match h3, .match h2{
    color: #fff;
}

.match h2{
    margin-bottom: 0;
}

.match .row{
    padding: 2px;
}

.match .col{
    padding: 4px;
}

.match-label {
    font-size: 11px;
}

.match-score {
    border: 1.5px solid white;
    background-color: rgba(0, 0, 0, 0.68);
    height: 45px;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    border-radius: 5px;
}

.match-score div{
    padding-top: 4px;
}

.button.button-points{
    border: 1.5px solid white;
    background-color: rgba(0, 0, 0, 0.44);
    font-size: 22px;
    padding: 2px 5px;
}

.button.button-circle{
    border-radius: 50px;
    border-width: 3px;
    border-color: #fff;
    min-width: 48px;
}

.match .button.button-balanced{
    background-color: rgba(0, 162, 46, 0.50);
}

.match .button.button-balanced:hover{
    background-color: rgba(0, 232, 66, 0.9);
}

.error {
    color: #f53d3d;
}

/** Teams **/
.teams .item .row,
.teams .item .col{
    margin: 0;
    padding: 0;
}

.teams .results .icon:before{
    font-size: 16px;
}

.teams .edit .icon:before{
    font-size: 12px;
}

.teams .bar-subheader{
    border-bottom-width: 1px;
    background-color: #ffffff;
}

.teams .item .edit,
.teams .item .results{
    color: #0071BC;
    float: right;
    cursor: pointer;
}

.team-label {
    color: #1B1464;
}

.pull-right {
    float: right;
}

.team-list-result {
    float: right;
    font-size: 14px;
}

.team-location {
    margin-top: 25px;
}


/** New Match **/
.new-match .item-checkbox-right{
    text-align: right;
    padding-right: 55px !important;
}

.new-match button{
    position: absolute;
    bottom: 35px;
    font-size: 27px;
    color: #92185d !important;
    width: 100%;
    text-align: left;
    border-color: #FBAE17 !important;
    border-top-width: 3px !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}

.new-match .scroll, 
.new-match .scroll form{
    height: 100%;
}

/** Generics **/
.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
  float: right;
}

.item-checkbox.item-checkbox-right {
  /*the default item padding*/
  padding: 15px;
}

