/** Footer **/
.keyboard-open .tabs{
    display:none;
  }
.keyboard-open .has-tabs
{
    bottom:0;
}

.has-footer.has-tabs {
    bottom: 120px;
}

.sub-footer{
    bottom:50px !important;
}

.tabs{
    height: 65px;
}

.tabs-striped .tabs{
    padding-top: 0px;
}

.tabs-positive > .tabs, .tabs.tabs-positive{
    border-color: #d6a7c2 !important;
    background-color: #92185d !important;
    background-image: linear-gradient(0deg, #92145c, #92145c 50%, transparent 50%) !important;
}

.tabs-icon-top > .tabs .tab-item{
    opacity: 0.4;
}

.tabs-icon-top > .tabs .tab-item-active{
    opacity: 1;
}

.tab-item .icon{
    height: 45px;
    background-size: 40px;
    margin-top: 5px;
}

.my-team-icon-white{
    background: url(../img/my-team-white.png) no-repeat center;
}

.my-team-icon-white-on{
    background: url(../img/my-team-white.png) no-repeat center;
}

.new-match-icon-white{
    background: url(../img/new-match-white.png) no-repeat center;
}

.teams-icon-white{
    background: url(../img/team-white.png) no-repeat center;
}

.save-icon-white{
    background: url(../img/save-white.png) no-repeat center;
}

.results-icon-white{
    background: url(../img/result-white.png) no-repeat center;
}


/** Headers **/
.bar.bar-stable{
    border-color: #FBAE17;
    border-bottom-width: 3px;
}

.bar.bar-stable{
    border-bottom-width: 1px;
    background-color: #ffffff;
}

.bar-stable .button.button-icon{
    color: #92145c !important;
}

.bar-stable .button.button-icon.new-match-icon{
    width: 40px;
    background: url(../img/new-match.png) no-repeat center;
    background-size: 25px;
}

.bar-stable .button.button-icon.my-team-icon{
    width: 40px;
    background: url(../img/my-team.png) no-repeat center;
    background-size: 25px;
}

.bar-stable .button.button-icon.team-icon{
    width: 40px;
    background: url(../img/team.png) no-repeat center;
    background-size: 25px;
}

/** Buttons **/
i.icon.ion-chevron-left::before{
    font-size: 15px !important;
    line-height: 33px !important;
}

.button-footer-wrap{
    padding-left: 0px;
}

div.button-footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.button-footer-wrap div.button-footer button{
    font-size: 25px !important;
    width: 100%;
    color: #92185d !important;
    text-align: right;
    border-color: #FBAE17 !important;
    background-color: #ffffff;
    border-top-width: 3px !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    padding-top: 10px;
    font-weight: normal;
}

.button.icon-right:before{
    font-size: 18px;
    line-height: 36px !important;
    padding-left: .5em !important;
}

.has-tabs, .bar-footer.has-tabs{
    bottom: 70px;
}

/** Match **/
.start-match [nav-bar="cached"],
.start-match [nav-bar="leaving"]{
    display: none !important;
}

.start-match .bar.bar-stable{
    border: none !important;
}

.match{
    color: #fff;
    background: url(../img/pitch.jpg) repeat center;
}

.match h2{
    color: #fff;
    background: url(../img/pitch-line.jpg) repeat center;
    line-height: 22px;
    font-size: 35px;
    margin: 5px 0;
}

.match .row{
    padding: 2px;
}

.match .col{
    padding: 3px;
}

.match-label {
    font-size: 11px;
}

.match-score, 
.match-title {
    border: 2px solid #FFF;
    background-color: rgba(0, 0, 0, 0.68);
    height: 45px;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    border-radius: 5px;
}

.match-title{
    text-align: center;
    font-size: 23px;
    width: 90%;
}

.match-score div{
    padding-top: 4px;
}

.button.button-points{
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.44);
    font-size: 18px;
    padding: 0px 4px;
}

.button.button-circle{
    border-radius: 50px;
    border-width: 2px;
    border-color: #fff;
    min-width: 40px;
    min-height: 40px;
    line-height: 35px;
    margin-top: 5px;
}

.match .button.button-balanced{
    background-color: rgba(0, 162, 46, 0.50);
}

.match .button.button-balanced:hover{
    background-color: rgba(0, 232, 66, 0.9);
}

.error {
    color: #f53d3d;
}

/*@media screen and (max-width:767px) {
    .match .col{
        text-align:center !important;
    }

    .match .scroll{
        height: 100% !important;
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-box-direction: normal !important;
        -moz-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
        -moz-box-orient: vertical !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .match .row{
        -webkit-box-flex: 0 !important;
        -moz-box-flex: 0 !important;
        -webkit-flex: 0 1 50% !important;
        -ms-flex: 0 1 50% !important;
        flex: 0 1 50% !important;
    }
}*/

/** Teams **/
.teams .item .row,
.teams .item .col{
    margin: 0;
    padding: 0;
}

.teams .results .icon:before{
    font-size: 16px;
}

.teams .edit .icon:before{
    font-size: 12px;
}

.teams .item .edit,
.teams .item .results{
    color: #0071BC;
    float: right;
    cursor: pointer;
}

.team-label {
    color: #1B1464;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.align-right {
    text-align: right
}

.team-list-result {
    float: right;
    font-size: 14px;
}

.team-location {
    margin-top: 25px;
}


/** New Match **/
.new-match .item-checkbox-right{
    text-align: right;
    padding-right: 55px !important;
}

ion-content .scroll{
    height: 100%;
}

/** Score **/
.score .content .row{
     padding: 5px 30px;
}

.score .vertical-divider{
    height: 79%;
    background: url(../img/vertical-bar.png) repeat center;
}

.score hr{
    margin: -10px 15px 0px 15px;
}

.score .team-name{
    max-height: 50px;
    min-height: 50px;
}

/** Edit Result **/
.edit-result .content .row{
    padding: 5px 30px;
}  

.edit-result .content .match-details{
    padding: 5px 20px;
}

.edit-result input[type="text"]{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    height: 28px
}

.edit-result .vertical-divider{
    height: 78%;
    background: url(../img/vertical-bar.png) repeat center;
}

.edit-result .vertical-divider-wrap{
    padding: 0 9%;
}

@media (min-width:801px) {
    .edit-result .vertical-divider-wrap{
        padding: 0 10%;
    }
}

.edit-result input[type="number"]{
    height: 20px
}

.edit-result hr{
    margin: -6px 15px 0px 15px;
}

.edit-result .row.match-location{
    padding: 5px 20px 5px 30px;
}

/** Generics **/
.no-padding{
    padding: 0;
}

.content{
    height: 97%;
}

.divider{
    padding-bottom: 7px;
}

.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
  float: right;
}

.item-checkbox.item-checkbox-right {
  /*the default item padding*/
  padding: 15px;
}

.label-score {
    font-size: 24px;
    font-weight: bold
}

.item-stacked-label, 
.item-checkbox{
    border: none;
    margin-right: 15px;
}

input[type="text"]{
    border-color: #ddd;
    background-color: #fff;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

@media screen and (max-width:767px) {
    .match ion-content{
         height: 82% !important;
     }
}


@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .match ion-content{
         height: 73% !important;
     }
}