<ion-content ng-controller="MatchController" class="edit-result">
        <div class="content">
            <div class="row">
                <div class="col-50" style="padding-right: 10px;">
                    <div class="label-score align-right divider" ng-bind="team1Score() | formatScore"></div>
                    <div class="divider"><input type="text" ng-model="team1"/></div>
                    <div>Trys</div>
                    <div class="divider"><input type="number" ng-model="team1Try"/></div>
                    <div>Conversions</div>
                    <div class="divider"><input type="number" ng-model="team1Conversion"/></div>
                    <div>Drop Goals</div>
                    <div class="divider"><input type="number" ng-model="team1DropGoal"/></div>
                    <div>Penalty</div>
                    <div class="divider"><input type="number" ng-model="team1Penalty"/></div>
                </div>
                <div class="col">
                    <div class="ion-minus-round divider"></div>
                    <div class="divider"><strong>V</strong></div>
                    <div class="vertical-divider"></div>
                </div>
                <div class="col-50" style="padding-left: 10px;"">
                    <div class="label-score align-left divider" ng-bind="team2Score() | formatScore"></div>
                    <div class="divider"><input type="text" ng-model="team2"/></div>
                    <div>Trys</div>
                    <div class="divider"><input type="number" ng-model="team2Try"/></div>
                    <div>Conversions</div>
                    <div class="divider"><input type="number" ng-model="team2Conversion"/></div>
                    <div>Drop Goals</div>
                    <div class="divider"><input type="number" ng-model="team2DropGoal"/></div>
                    <div>Penalty</div>
                    <div class="divider"><input type="number" ng-model="team2Penalty"/></div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-50 no-padding">
                    <div>Match Date</div>
                    <div><input type="text" ng-model="matchDate"/></div>
                </div>
                <div class="col">
                </div>
                <div class="col-50 no-padding">
                    <div class="">Match Time</div>
                    <div><input type="text" ng-model="matchTime"/></div>
                </div>
            </div>
            <div class="row match-location">
                <div class="col col-100 no-padding">
                    <div>Match Location</div>
                    <div><input type="text" ng-model="location"/></div>
                </div>
            </div>

            <div class="button-footer">
                <button class="button button-positive button-clear icon icon-right ion-chevron-right hide-on-keyboard-open" ng-click="saveScore()">
                    Save
                </button>
            </div>
        </div>
    </ion-content>