<ion-view view-title="Match">
    <ion-content has-footer="true" has-tabs="true" ng-controller="MatchController">

        <div class="row">
            <div class="col text-center">Team A</div>
        </div>
        <div class="row">
            <div class="col text-center match-score">Score</div>
        </div>
        <div class="row text-center">
            <div class="col col-25">
                <br>
                <button class="button button-balanced">-</button>
            </div>
            <div class="col col-25">
                <span class="match-label">TRY<span><br>
                <button class="button button-positive">+ 5pts</button>
            </div>
            <div class="col col-25">
                <span class="match-label">CONVERSION<span><br>
                <button class="button button-positive">+ 2pts</button>
            </div>
            <div class="col col-25">
                <br>
                <button class="button button-balanced">-</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col col-25">
                <br>
                <button class="button button-balanced">-</button>
            </div>
            <div class="col col-25">
                <span class="match-label">PENALTY<span><br>
                <button class="button button-positive">+ 3pts</button>
            </div>
            <div class="col col-25">
                <span class="match-label">DROP GOAL<span><br>
                <button class="button button-positive">+ 3pts</button>
            </div>
            <div class="col col-25">
                <br>
                <button class="button button-balanced">-</button>
            </div>
        </div>

    <hr>


<div class="row">
            <div class="col text-center">Team B</div>
        </div>
        <div class="row">
            <div class="col text-center match-score">Score</div>
        </div>
        <div class="row text-center">
            <div class="col col-25">
                <br>
                <button class="button button-balanced">-</button>
            </div>
            <div class="col col-25">
                <span class="match-label">TRY<span><br>
                <button class="button button-positive">+ 5pts</button>
            </div>
            <div class="col col-25">
                <span class="match-label">CONVERSION<span><br>
                <button class="button button-positive">+ 2pts</button>
            </div>
            <div class="col col-25">
                <br>
                <button class="button button-balanced">-</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col col-25">
                <br>
                <button class="button button-balanced">-</button>
            </div>
            <div class="col col-25">
                <span class="match-label">PENALTY<span><br>
                <button class="button button-positive">+ 3pts</button>
            </div>
            <div class="col col-25">
                <span class="match-label">DROP GOAL<span><br>
                <button class="button button-positive">+ 3pts</button>
            </div>
            <div class="col col-25">
                <br>
                <button class="button button-balanced">-</button>
            </div>
        </div>

    </ion-content>

    <!--<div ng-include="'templates/tabs.html'"></div>-->
</ion-view>