<ion-view view-title="" hide-back-button="true" class="match">
    <ion-content ng-controller="MatchController">
        <div class="row">
            <div class="col text-center" ng-bind-html="team1"></div>
        </div>
        <div class="row">
            <div class="col text-center match-score" ng-bind-html="team1Score()"></div>
        </div>
        <div class="row text-center">
            <div class="col col-25">
                <br>
                <button class="button button-balanced" ng-click="addScoreTry(1,-1)">-</button>
            </div>
            <div class="col col-25">
                <span class="match-label">TRY<span><br>
                <button class="button button-positive" ng-click="addScoreTry(1,1)">+ 5pts</button>
            </div>
            <div class="col col-25">
                <span class="match-label">CONVERSION<span><br>
                <button class="button button-positive" ng-click="addScoreConversion(1,1)">+ 2pts</button>
            </div>
            <div class="col col-25">
                <br>
                <button class="button button-balanced" ng-click="addScoreConversion(1,-1)">-</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col col-25">
                <br>
                <button class="button button-balanced" ng-click="addScorePenalty(1, -1)">-</button>
            </div>
            <div class="col col-25">
                <span class="match-label">PENALTY<span><br>
                <button class="button button-positive" ng-click="addScorePenalty(1, 1)">+ 3pts</button>
            </div>
            <div class="col col-25">
                <span class="match-label">DROP GOAL<span><br>
                <button class="button button-positive" ng-click="addScoreDropGoal(1, 1)">+ 3pts</button>
            </div>
            <div class="col col-25">
                <br>
                <button class="button button-balanced" ng-click="addScoreDropGoal(1, -1)">-</button>
            </div>
        </div>

    <hr>


<div class="row">
            <div class="col text-center" ng-bind-html="team2"></div>
        </div>
        <div class="row">
            <div class="col text-center match-score" ng-bind-html="team2Score()"></div>
        </div>
        <div class="row text-center">
            <div class="col col-25">
                <br>
                <button class="button button-balanced" ng-click="addScoreTry(2, -1)">-</button>
            </div>
            <div class="col col-25">
                <span class="match-label">TRY<span><br>
                <button class="button button-positive" ng-click="addScoreTry(2, 1)">+ 5pts</button>
            </div>
            <div class="col col-25">
                <span class="match-label">CONVERSION<span><br>
                <button class="button button-positive" ng-click="addScoreConversion(2, 1)">+ 2pts</button>
            </div>
            <div class="col col-25">
                <br>
                <button class="button button-balanced" ng-click="addScoreConversion(2, -1)">-</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col col-25">
                <br>
                <button class="button button-balanced" ng-click="addScorePenalty(2, -1)">-</button>
            </div>
            <div class="col col-25">
                <span class="match-label">PENALTY<span><br>
                <button class="button button-positive" ng-click="addScorePenalty(2, 1)">+ 3pts</button>
            </div>
            <div class="col col-25">
                <span class="match-label">DROP GOAL<span><br>
                <button class="button button-positive" ng-click="addScoreDropGoal(2, 1)">+ 3pts</button>
            </div>
            <div class="col col-25">
                <br>
                <button class="button button-balanced" ng-click="addScoreDropGoal(2, -1)">-</button>
            </div>
        </div>

    </ion-content>
</ion-view>