<ion-view view-title="New Match" hide-back-button="true">
    <ion-content ng-controller="MatchController">
        <form class="list" name="matchform" novalidate>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Team A</span>
                <input type="text" placeholder="Enter Team Name A" ng-model="team1" autocomplete="off">
            </label>
            <ion-checkbox ng-change="newMatchMyTeamClick()" ng-model="isMyTeam">My Team</ion-checkbox>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Team B</span>
                <input type="text" placeholder="Enter Team Name B" ng-model="team2"  autocomplete="off">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Match Location</span>
                <input type="text" placeholder="Enter Match Location"  ng-model="location" autocomplete="off">
            </label>

            <button class="button button-positive button-full icon icon-right ion-chevron-right" ng-click="startMatch()">
                Start Tracking
            </button>           
        </form>
    </ion-content>
</ion-view>