<ion-content>
    <form class="list content" name="matchform" novalidate>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Abbreviated Team Name</span>
            <input type="text" placeholder="Enter Short Team Name" ng-model="abbrTeamName" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Full Team Name</span>
            <input type="text" placeholder="Full Team Name" ng-model="fullTeamName" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Club Address</span>
            <input type="text" placeholder="Enter Address" ng-model="clubAddress" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Town / City</span>
            <input type="text" placeholder="Enter Town/City" ng-model="townCity" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">County</span>
            <input type="text" placeholder="Enter Address" ng-model="country" autocomplete="off">
        </label>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Post Code</span>
            <input type="text" placeholder="Enter Postcode" ng-model="postCode" autocomplete="off">
        </label>    
    </form>
</ion-content>
<ion-footer-bar align-title="left" class="button-footer-wrap">
    <div class="button-footer">
        <button class="button icon icon-right ion-chevron-right hide-on-keyboard-open" ng-click="saveTeam()">
            Save Team
        </button> 
    </div>
</ion-footer-bar> 