<ion-content>
    <div class="content team-wrap">
        <div class="team-label row">Abbreviated Team Name&nbsp;</div>
        <div class="row divider" ng-bind-html="data.abbrTeamName"></div>

        <div class="team-label row">Team Name&nbsp;</div>
        <div class="row divider" ng-bind-html="data.fullTeamName"></div>

        <div class="row team-label">Location&nbsp;</div>
        <div class="row divider" ng-bind-html="data.townCity"></div>

        <div class="row team-label">Club Address&nbsp;</div>
        <div class="row divider" ng-bind-html="data.clubAddress"></div>

        <div class="row team-label">Post Code&nbsp;</div>
        <div class="row divider" ng-bind-html="data.postCode"></div>

        <hr/>

        <div class="row">
            <div class="row team-label">Last Match Result&nbsp;</div>
        </div>
        <div class="row" ng-if="data.teamLastMatch != null">
            <div>{{data.teamLastMatch.matchTime}} - {{data.teamLastMatch.matchDate}}</div>
        </div>

        <div class="row sub-content" ng-if="data.teamLastMatch != null">
            <div class="col-50" style="padding-right: 10px;">
                <div class="label-score align-right divider">{{(data.teamLastMatch.team1Try + data.teamLastMatch.team1Conversion + data.teamLastMatch.team1Penalty + data.teamLastMatch.team1DropGoal)
                    | formatScore}}</div>
                <div class="divider"><strong>{{data.teamLastMatch.team1}}</strong></div>
            </div>
            <div class="col">
                <div class="ion-minus-round divider"></div>
                <div class="divider">V</div>
            </div>
            <div class="col-50" style="padding-left: 10px;">
                <div class="label-score divider">{{(data.teamLastMatch.team2Try + data.teamLastMatch.team2Conversion + data.teamLastMatch.team2Penalty + data.teamLastMatch.team2DropGoal)
                    | formatScore}}</div>
                <div class="divider"><strong>{{data.teamLastMatch.team2}}</strong></div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer-bar align-title="left" class="button-footer-wrap">
    <div class="button-footer">
        <button class="button icon icon-right ion-chevron-right hide-on-keyboard-open" ng-click="teamResult(data.fullTeamName)">
           {{teamResultText}}
        </button>
    </div>
</ion-footer-bar>
