<ion-content ng-controller="TeamController">

    <div class="row">
        <div class="team-label">Abbreviated Team Name&nbsp;</div>
        <div ng-bind-html="abbrTeamName"></div>
    </div>

    <div class="row">
        <div class="team-label">Team Name&nbsp;</div>
        <div ng-bind-html="fullTeamName"></div>
    </div>

    <div class="row">
        <div class="team-label">Location&nbsp;</div>
        <div ng-bind-html="townCity"></div>
    </div>

    <div class="row">
        <div class="team-label">Club Address&nbsp;</div>
        <div ng-bind-html="clubAddress"></div>
    </div>

    <div class="row">
        <div class="team-label">Post Code&nbsp;</div>
        <div ng-bind-html="postCode"></div>
    </div>

    <hr/>

    <div class="row">
        <div class="team-label">Last Match Result&nbsp;</div>
        <div>{{teamLastMatch.matchTime}} <span ng-if="teamLastMatch != null">-</span> {{teamLastMatch.matchDate}}</div>
    </div>

</ion-content>