<ion-view view-title="New Match">
    <ion-content>
        <form class="list" name="matchform" novalidate>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Abbreviated Team Name</span>
                <input type="text" placeholder="Enter Short Team Name" autocomplete="off">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Full Team Name</span>
                <input type="text" placeholder="Full Team Name" autocomplete="off">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Club Address</span>
                <input type="text" placeholder="Enter Address" autocomplete="off">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Town / City</span>
                <input type="text" placeholder="Enter Town/City" autocomplete="off">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">County</span>
                <input type="text" placeholder="Enter Address" autocomplete="off">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Post Code</span>
                <input type="text" placeholder="Enter Postcode" autocomplete="off">
            </label>


            <button class="button button-positive button-full icon icon-right ion-chevron-right">
                Save Team
            </button>

        </form>
    </ion-content>
</ion-view>