<ion-view view-title="Teams" hide-back-button="true" class="teams">

    <ion-header-bar class="bar-positive"></ion-header-bar>
    <ion-header-bar class="bar-stable bar-subheader">
        <button class="button button-clear button-positive" ng-click="addNewTeam(false, false)">
            <strong>Add Team</strong>
        </button>
        <button class="button button-clear button-positive">
            <strong>Search</strong>
        </button>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <div class="item" ng-repeat="team in teams">
                <div class="row">
                    <div class="col col-80">
                        <span class="team-label">Team Name</span>
                    </div>
                    <div class="col col-20">
                        <span class="edit" ng-click="addNewTeam(false, true, {{team.teamId}})">
                            <small>Edit</small>
                            <i class="icon ion-chevron-right"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-80">
                        <span>{{team.fullTeamName}}</span><br/>
                        <span class="team-label team-location">Location</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-80">
                        <span>{{team.townCity}}</span>
                    </div>
                    <div class="col col-20">
                        <span class="results">
                            Team Results
                            <i class="icon ion-chevron-right"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </ion-content>
</ion-view>