<ion-view view-title="Teams">
    <ion-content>

        <div class="bar bar-header">
            <button class="button button-clear button-positive" ng-click="addNewTeam()">Add Team</button>
            <button class="button button-clear button-positive">Search</button>
        </div>


        <div class="list">

            <div class="item item-divider">
                Candy Bars
            </div>

            <a class="item" href="#">Butterfinger</a>
            <a class="item" href="#">Test</a>

        </div>

    </ion-content>
</ion-view>